dist/
node_modules/
.env
config/
logs/
.idea/
docs/.vitepress/dist
docs/.vitepress/cache
.claude/
.vs/
.github/workflows/docker-release.yml
personal.yml
.github/workflows/docker-publish.yml
personal2.yml